<!DOCTYPE html>
<html>

  {% include head.html %}

  <link href='https://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
  
  <body>
 
   <table border=0 cellborder=0 style='width: 100%'> 
     <tr>
      <td style='text-align: right; width: 15em' valign='top'> 

     <div style='text-align: right'>
          <img style='width: 80% ' src='media/mack.jpg'/>
        </div>

   
         {% include nav.html %}
         


    </td>
    <td style=' padding-left: 3em' valign='top'>


    {% if page.title != 'Home22' %} 
      <h1 >{{ page.title }}</h1>
    {% else %}
      
    {% endif %}


    
 <div class="page-content_old">
      <div class="wrapper_old" style='max-width: 40em'>
        {{ content }}
      </div>
    </div>


    </td>
    </tr>
    </table>
    <!-- {% include footer.html %} -->

  </body>

</html>
