<!DOCTYPE html>
<html>

  {% include head.html %}

  <link href='https://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
  
  <body>

        <!-- navigation -->
            <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar col-sm-2 text-right" >
        
                        <img style='max-width: 200px ; width:80%' src='media/mack.jpg'/>
                    {% include nav.html %}
                </div>

    <div class="container">
                <div class="col-lg-12 middle">
                    {% if page.title != 'Home22' %} 
                    <h1 >{{ page.title }}</h1>
                    {% else %}
                      
                    {% endif %}
                    
                            {{ content }}
                    </div>
    </div>



  </body>

</html>
